<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Game-On</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZXQMP2GuykxkAKb5m3NpmBJ1NvIZ0WfA&libraries=places" async
    defer></script>
</head>

<body>
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#home-nav" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="logo">
        <a href="/">
          <img class="logo-bis" src="/images/logo.png" alt="">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="home-nav">
        <ul class="nav navbar-nav">
          <li>
            <a href="/new">Post a game</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if (!userSignedIn) { %>
            <li>
              <a href="/login">Login</a>
            </li>
            <li>
              <a href="/signup">Signup</a>
            </li>
            <% } %>
              <li>
                <a href="/board-games">Board Games</a>
              </li>
              <li>
                <a href="/profile">Profile</a>
              </li>
              <li>
                <% if (userSignedIn) { %>
                  <form action="/logout" method="POST">
                    <button class="btn btn-link btn-logout" type="submit">Logout</a>
                  </form>
                  <% } %>
                    <!-- <a href="/logout">Logout</a> -->
              </li>

        </ul>
      </div>
    </div>
  </nav>
  <div class="main-container">
    <%- body -%>
  </div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

</body>

</html>