<div class="container-fluid">
  <div class="home-heading text-center row">
    <div class="home-heading-wrapper">
      <h1>Let's start some kick-ass games</h1>
      <p>Find people to play your favorite board games. Set a date, let people join, and FEU!</p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <h2 class="text-center">Games</h2>
    <% games.forEach((game) => { %>
      <div class="col-lg-3">
        <div class="card">
          <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">
              <%= game.title %>
            </h5>
            <p class="card-text">By
              <%= game._creator.username %>
            </p>
            <p class="card-text">
              <%= game.description %>
            </p>
            <a href="/games/<%= game._id %>" class="btn btn-success">Go somewhere</a>
          </div>
        </div>
      </div>
      <%  }) %>
    </div>
  </div>