<div class="container-fluid">
  <div class="home-heading text-center row">
    <div class="home-heading-wrapper">
      <h1>Let's start some kick-ass games</h1>
      <p>Find people to play your favorite board games. Set a date, let people join, and FEU!</p>
    </div>
  </div>
</div>
