<div class="container">
  <div class="row">
    <div class="col-sm-6 centered-form">
      <form action="/profile" method="post">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" class="form-control">
        </div>
        <div class="form-group">
          <label for="_boardGame">I own these boardgames</label>
          <select multiple class="form-control" name="_boardGame" title="I own these boardgames">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
        <div class="form-group">
          <label for="type">I like these kind of games</label>
          <select multiple class="form-control" name="type" title="I own these boardgames">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
        <div class="form-group">
          <label for="description">Describe yourself in a few words</label>
          <textarea type="text" name="description" class="form-control" rows="5"></textarea>
        </div>


        <button type="submit">Create a game</button>
      </form>
    </div>
  </div>
</div>
</div>
