@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600');
h1,
h2 {
  font-family: "Pacifico";
  text-shadow: 0 0 0.1em #fff
}

h2 {
  font-size: 5rem;
}

p {
  font-size: 18px;
  color: #232323;
  text-shadow: 1px 0 0.1em #fff
}
h3 {
  font-size: 4rem;
}

.nav>li>a:hover,
.nav>li>a:focus {
  background-color: transparent
}

label {
  font-size: 4rem
}

.btn {
  font-size: 2rem
}

.card-img-top-index {
  height: 250px;
  width: 250px;
}

.form-control {
  font-size: 2rem
}

body {
  padding: 50px;
  font: 16px "Josefin Sans", Helvetica, Arial, sans-serif;
  background: #83a4d4;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #b6fbff, #83a4d4);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #b6fbff, #83a4d4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
  color: #00B7FF;
}

.card {
  padding: 1vh;
  text-align: center
}

.main-container {
  padding-top: 25px;
}

nav.navbar {
  box-shadow: 0px 4px 10px 0 rgba(22, 22, 22, 0.08);
  margin-bottom: 0px;
}

#home-nav {
  height: 72px;
}

.logo {
  margin-top: -30px;
  margin-bottom:-24px;
}

.logo-bis {
  margin-top: 30px;
  margin-bottom: -32px;
}

.nav>li>a {
  color: #111111;
  font-size: 2rem
}

.btn-logout {
  font-size: 2rem
}

.nav>li.nav-logo {
  width: 174px;
  display: block;
  position: absolute;
  left: 35%;
  margin-left: -87px;
}

.nav-logo-image {
  height: 17px;
  width: 100%;
}

.nav>.li-logout {
  padding: 7px;
}

.btn-logout {
  color: black;
}

.home-heading {
  height: 75vh;
  padding: 0 30%;
  position: relative;
  background-image: url("/images/boardgame-background.png");
  background-size: 100%;
}

.home-heading-wrapper {
  padding: 0 5%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
}

.home-heading-wrapper>h1 {
  font-size: 8rem;
  color: black;
}

.home-heading-wrapper>p {
  padding-top: 3rem;
  font-size: 3rem;
  font-weight: 600;
  color: black;
}


.btn-logout {
  color: black;
  padding: 15px;
  border: 0;
}

/* public/stylesheets/style.css */

.campaign-row {
  margin-top: 3%;
}

.home-campaign-box {
  border: 1px solid #d3d3d3;
  height: 300px;
  margin: 30px 4%;
  padding: 0;
}

.home-campaign-box img {
  width: 100%;
  height: 45%;
}

.campaign-info-wrapper {
  padding: 5px 7px;
  font-size: 0.9em;
}

.campaign-info-wrapper>.description {
  display: block;
  margin-top: 20px;
}

.campaign-info-wrapper>.title {
  color: black;
  font-size: 1.1em;
}

#map,
#imap {
  height: 50vh;
}

/* Optional: Makes the sample page fill the window. */

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.img-rounded {
  width: 200px;
  margin-bottom: 50px;
}

.around-image {
  text-align: center;
}

.dl-horizontal {
  text-align: center;
}

/* CUSTOM CSS */

.content {
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.heading {
  padding-bottom: 15vh;
}

#demo,
#form {
  height: 100vh;
  background-color: #E3ECFA;
}

#footer {
  background-color: #232323;
  color: #DDDDDD;
  padding: 1vh;
  line-height: 1vh;
}

.bg-search {
  border-radius: 18px;
  border-color: #00B7FF;
}

.bg-list-image {
  height: 100px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.bg-title {
  white-space: nowrap;
  font-size: 1.5rem
}

/* Algolia */

.aa-input-container {
  display: inline-block;
  position: relative;
}

.aa-input-search {
  width: 300px;
  border: 1px solid rgba(228, 228, 228, 0.6);
  padding: 12px 28px 12px 12px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.aa-input-search::-webkit-search-decoration,
.aa-input-search::-webkit-search-cancel-button,
.aa-input-search::-webkit-search-results-button,
.aa-input-search::-webkit-search-results-decoration {
  display: none;
}

.aa-input-icon {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  fill: #e4e4e4;
}

.aa-dropdown-menu {
  background-color: #fff;
  border: 1px solid rgba(228, 228, 228, 0.6);
  min-width: 300px;
  margin-top: 10px;
  box-sizing: border-box;
}

.aa-suggestion {
  padding: 12px;
  cursor: pointer;
}

.aa-suggestion+.aa-suggestion {
  border-top: 1px solid rgba(228, 228, 228, 0.6);
}

.aa-suggestion:hover,
.aa-suggestion.aa-cursor {
  background-color: rgba(241, 241, 241, 0.35);
}

.logo {
  text-align: center;
}

/* BG SEARCH */

.bg-search {
  width: 50vw;
  height: 6vh;
  font-size: 3rem;
}

.card-text {
  line-height: 7px
}

.text-center {
  margin: 50px
}

/*Profile Css*/
.modify-information {
  font-size: 3rem;
}

.form-size {
  font-size: 2rem;

}
