body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.card {
  padding: 1vh;
  text-align: center
}

.main-container {
  padding-top: 25px;
}

nav.navbar {
  box-shadow: 0px 4px 10px 0 rgba(22, 22, 22, 0.08);
  margin-bottom: 0;
}

.nav>li>a {
  color: black;
}

.nav>li.nav-logo {
  width: 174px;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -87px;
}

.nav-logo-image {
  height: 17px;
  width: 100%;
}

.nav>.li-logout {
  padding: 7px;
}

.btn-logout {
  color: black;
}

.home-heading {
  background-color: #E3ECFA;
  height: 75vh;
  padding: 0 30%;
  position: relative;
}

.home-heading-wrapper {
  padding: 0 5%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-heading-wrapper>h1 {
  font-size: 5rem;
}

.home-heading-wrapper>p {
  font-size: 2rem;
}

.btn-logout {
  color: black;
  padding: 15px;
  border: 0;
}

/* public/stylesheets/style.css */

.campaign-row {
  margin-top: 3%;
}

.home-campaign-box {
  border: 1px solid #d3d3d3;
  height: 300px;
  margin: 30px 4%;
  padding: 0;
}

.home-campaign-box img {
  width: 100%;
  height: 45%;
}

.campaign-info-wrapper {
  padding: 5px 7px;
  font-size: 0.9em;
}

.campaign-info-wrapper>.description {
  display: block;
  margin-top: 20px;
}

.campaign-info-wrapper>.title {
  color: black;
  font-size: 1.1em;
}

#map {
  height: 50vh;
  ;
}

/* Optional: Makes the sample page fill the window. */

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/* CUSTOM CSS */

.content {
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.heading {
  padding-bottom: 15vh;
}

#demo,
#form {
  height: 100vh;
  background-color: #E3ECFA;
}

#footer {
  background-color: #232323;
  color: #DDDDDD;
  padding: 1vh;
  line-height: 1vh;
}

/* Algolia */

.aa-input-container {
  display: inline-block;
  position: relative;
}

.aa-input-search {
  width: 300px;
  border: 1px solid rgba(228, 228, 228, 0.6);
  padding: 12px 28px 12px 12px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.aa-input-search::-webkit-search-decoration,
.aa-input-search::-webkit-search-cancel-button,
.aa-input-search::-webkit-search-results-button,
.aa-input-search::-webkit-search-results-decoration {
  display: none;
}

.aa-input-icon {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  fill: #e4e4e4;
}

.aa-dropdown-menu {
  background-color: #fff;
  border: 1px solid rgba(228, 228, 228, 0.6);
  min-width: 300px;
  margin-top: 10px;
  box-sizing: border-box;
}

.aa-suggestion {
  padding: 12px;
  cursor: pointer;
}

.aa-suggestion+.aa-suggestion {
  border-top: 1px solid rgba(228, 228, 228, 0.6);
}

.aa-suggestion:hover,
.aa-suggestion.aa-cursor {
  background-color: rgba(241, 241, 241, 0.35);
}

/* BG SEARCH */
.bg-search{
  width: 50vw;
  height: 6vh;
  font-size: 3rem;
}