<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1>
        <%= game.title %>
      </h1>
      <p>
        <%= game.time %>
      </p>
      <h3>
        <%= game.description %>
      </h3>
      <input type="button" value="S'inscrire" class="btn btn-primary">
    </div>
  </div>
</div>