<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <input type="search" name="" id="bg" class="bg-search">
    </div>
    <div class="col-sm-12" style="padding-top:50px">
      <ul id="list">

      </ul>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.core.min.js"></script>
<script>
  $(document).ready(function () {
    $("#bg").keyup(function () {
      showBg();
    });
  });

  var bg = <%- JSON.stringify(bg) -%>;

  function showBg() {
    var filteredBg = _.filter(bg, function (o) {
      return o.title && o.title.indexOf($('#bg').val()) !== -1
    });

    $('#list').empty();
    for (let i = 0; i < filteredBg.length; i++) {
      $('#list').append(
        '<div class="fluid-container">' +

        '<div class="card col-sm-4 offset-lg-1">' +
        '<img class="card-img-top img-responsive" style="height:100px; margin:0 auto" src="' + filteredBg[i].img +
        '">' +
        '<h3 class="card-title">' +
        filteredBg[i].title +
        '</h3><br>' +
        '<p class="card-text"><i class="fa fa-child"></i> ' +
        filteredBg[i].age +
        '</p>' +
        '<p class="card-text"><i class="fa fa-users"></i> ' +
        filteredBg[i].players +
        '</p>' +
        '<p class="card-text"><span class="glyphicon glyphicon-time"></span> ' +
        filteredBg[i].time +
        '</p>' +
        '<a href="' + filteredBg[i].url + '"> ' +
        '<input type="button" class="btn" value="Details">' +
        '</a>' +
        '</div>' +

        '</div>'
      );
    }
  }
</script>