<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <input type="search" name="" id="bg" class="bg-search">
    </div>
    <div class="col-sm-12">
      <ul id="list">

      </ul>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.core.min.js"></script>
<script>
  $(document).ready(function () {
    $("#bg").keyup(function () {
      showBg();
    });
  });

  var bg = <%- JSON.stringify(bg) -%>;

  function showBg() {
    var filteredBg = _.filter(bg, function (o) {
      return o.title && o.title.indexOf($('#bg').val()) !== -1
    });

    $('#list').empty();
    for (let i = 0; i < filteredBg.length; i++) {
      $('#list').append(



        '<div class="col-sm-4 bg-list-container">' +
        '<img class="bg-list-image img-responsive" src="' + filteredBg[i].img +
        '">' +
        filteredBg[i].title +
        '</div>'
        // '<li>' + filteredBg[i].title + '</li>'
      );
    }
  }
</script>